@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
    --main-color:#303b7a;
    --black:#222;
    --white:#fff9;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    background: var(--light-bg);
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
}
.container .content{
    flex: 1 1 400px; 
    text-align: center;
}
.container .image{
    flex: 1 1 400px; 
}
.container .image img{
    width: 100%; 
}

.container .content .title{
    font-size: 45px;
    text-transform: uppercase;
    color: var(--black);
}
.container .content p{
    color: var(--light-black);
    padding: 5px 0;
}
.container .content .btn{
    display: inline-block;
    padding: 8px 50px;
    margin: 10px 0;
    font-size: 17px;
    background: var(--black);
    color: var(--white);
}
.container .content .btn:hover{
    background-color: rgb(109, 109, 109);
}
@media (max-width:500px){

    .container{
        padding: 20px;
    }
    
    .container .content{
        text-align: center;
    }

    .container .content .title{
        font-size: 35px;
    }

    .container .content p{
        font-size: 14px;
    }
}





